---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/*  Thumbnail-container custom CSS */
.thumbnail-container {
  width: 250px;
  height: 150px;
  margin-top: 1em;
}

.thumbnail-container > img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.archive__item-teaser {
  width: 250px;
  height: 150px;
}

.archive__item-teaser > img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.grid__item .archive__item-teaser {
  width: 190px;
  height: 150px;
}

.linkedin-link-icon-fix {
  min-width: 20px;
}

.pagination-imgpreview {
  max-width: 250px;
  max-height: 150px;
}