---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/*  Thumbnail-container custom CSS */
.thumbnail-container {
  max-width: 250px;
  max-height: 150px;
  margin-top: 1em;
}

.linkedin-link-icon-fix {
  min-width: 20px;
}

.pagination-min-height {
  min-height: 150px;
}

.cicd-logos {
  max-width: 350px;
}